.headerStyle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}

.mainHeading {
  font-size: 2rem;
  width: 100%;
  font-weight: 500;
  color: var(--text-main-color);
  text-align: center;
  margin: 0;
  height: auto;
  max-height: none;
  max-width: 70%;
}

.footerStyle {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid var(--background-off-color-light);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mainContent {
  filter: blur(0);
}

.mainContent.loading {
  filter: blur(5px);
}
