.inputStyle {
  background-color: var(--background-off-color-light);
  height: 40px;
  border-radius: 5px;
  border: none;
  color: var(--text-main-color);
  font-size: 16px;
  font-weight: 500;
  width: 40%;
  transition: all 0.2s ease-in-out;
  padding: 0 10px;
  margin-bottom: 2rem;
}

.labelStyle {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-main-color);
  margin-bottom: 0.7rem;
  width: 40%;
  text-align: center;
}

.inputStyle::placeholder {
  color: var(--text-main-color);
  opacity: 0.5;
}

.inputStyle:hover {
  box-shadow: 0px 0px 9px 3px #bbe4e9;
}

.inputStyle:focus {
  outline: none;
  box-shadow: 0px 0px 9px 3px #bbe4e9;
}

.headerStyle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}

.mainHeading {
  font-size: 2rem;
  width: 100%;
  font-weight: 500;
  color: var(--text-main-color);
  text-align: center;
  margin: 0;
  height: auto;
  max-height: none;
  max-width: 70%;
}

.footerStyle {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid var(--background-off-color-light);
}

.buttonsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .inputStyle {
    width: 80%;
  }

  .labelStyle {
    width: 80%;
  }
}
