html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #404258;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-color);
  background-color: var(--background-main-color-semi-dark);
  box-shadow: 0 5px 15px 5px var(--background-off-color-light);
  min-height: 100vh;

  --background-main-color-dark: #404258;
  --background-main-color-semi-dark: #474e68;
  --background-off-color-semi-light: #50577a;
  --background-off-color-light: #6b728e;
  --main-text-color: #e7f6f2;
}

html {
  background-color: var(--background-main-color-dark);
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0 1rem;
  }
}
